.editor-spacer {
    width: 1px;
    height: 20px;
    margin-right: 8px;
    margin-left: 5px;
    background-color: #e9e9e9;
    display: inline-block;
}

#editor-button-bar .btn {
  border: none;
  color: #222;
  font-weight: normal;
  /*background: #e9e9e9;*/
  background-color: white;
  display: inline-block;
  margin: 0;
  padding: 6px 12px;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  transition: all .25s;

  line-height: 10px;

  &:hover {
    background-color: lightgray;
  }
}

#editor-wrapper {
  position: absolute;
  height: 320px;
  bottom: 0px;
  width: 100%;
  /* background-color: lightgray; */
  background-color: white;
}

#editor-wrapper input {
  border: 1px solid lightgray;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 4px;
  margin-right: 4px;
  flex-basis: 100px;
  flex-grow: 2;
}

#editor-top {
  flex-wrap: nowrap;
}

#editor-text-with-preview {
  flex-wrap: nowrap;
  overflow: hidden;
}

#editor-preview-with-buttons {
  width: 50%;
  padding: 0px 8px;
}

#editor-button-bar {
  flex-wrap: nowrap;
  padding: 2px 4px;
}

#editor-button-bar i:hover {
  color: black;
  /* background-color: lightgray; */
  background-color: white;
}

#cm-wrapper {
  width: 100%;
  border: 0;
  //background-color: red;
  background-color: white;
  flex-grow: 4;
  overflow: hidden;
}

.codemirror-div {
  height: 100%;
}

.cm-textarea {
  /* height: 100%; */
}

#editor-preview {
  width: 50%;
  padding: 4px 8px;
  /* background-color: #e3e3e3; */
  background-color: white;
  overflow: scroll;
}

#editor-text-with-preview {
  background-color: white;
  flex-grow: 8;
}

#editor-bottom {
  background-color: #e9e9e9;
  padding: 2px 4px 8px 4px;
  justify-content: space-between;
  min-height: 42px; // TODO: why doesn't it size to content?
}

#editor-hide-preview {
  padding-top: 8px;
  padding-right: 8px;
}
