.editor-spacer {
    width: 1px;
    height: 20px;
    margin-right: 8px;
    margin-left: 5px;
    background-color: #e9e9e9;
    display: inline-block;
}

#editor-buttons {
  background-color: lightblue;
  // background-color: white;
  padding-top: 2px;
  padding-left: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid lightgray;

  button {
    display: inline-block;
    position: relative;
    padding: 4px 8px;
    color: rgba(0,0,0,0.7);
    background: rgba(0,0,0,0);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.4);
    vertical-align: bottom;
    white-space: nowrap;
    user-select: none;
    box-sizing: border-box;
    border-radius: 999em;
    letter-spacing: 0;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-right: 4px;
  }

  .ebtn {
    border: 0;
    padding: 2px 4px;
    padding-bottom: 8px;
    margin: 0;

    &:hover {
      border: 0;
      background-color: #eee;
    }
  }
}


#editor-wrapper {
  position: absolute;
  height: 320px;
  bottom: 0px;
  width: 100%;
  /* background-color: lightgray; */
  left: 8px;
  right: 8px;
  background-color: white;
}

#editor-wrapper input {
  border: 1px solid lightgray;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 4px;
  margin-right: 4px;
  flex-basis: 100px;
  flex-grow: 2;
}

#editor-top {
  flex-wrap: nowrap;
}

#editor-text-with-preview {
  flex-wrap: nowrap;
  overflow: hidden;
}

#editor-preview-with-buttons {
  width: 50%;
  padding: 0px 8px;
}

#cm-wrapper {
  width: 100%;
  border: 0;
  //background-color: red;
  background-color: white;
  flex-grow: 4;
  overflow: hidden;
}

.codemirror-div {
  height: 100%;
}

.cm-textarea {
  /* height: 100%; */
}

#editor-preview {
  width: 50%;
  padding: 4px 8px;
  /* background-color: #e3e3e3; */
  background-color: white;
  overflow: auto;
}

#editor-text-with-preview {
  background-color: white;
  flex-grow: 8;
}

#editor-bottom {
  // background-color: #e9e9e9;
  background-color: #f0f0f0;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
}

.editor-hide-show-preview {
  margin-right: 8px;
}
