.editor-spacer {
    width: 1px;
    height: 20px;
    margin-right: 8px;
    margin-left: 5px;
    background-color: #e9e9e9;
    display: inline-block;
}

#editor-button-bar .btn {
  border: none;
  color: #222;
  font-weight: normal;
  /*background: #e9e9e9;*/
  background-color: white;
  display: inline-block;
  margin: 0;
  padding: 6px 12px;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  transition: all .25s;

  line-height: 10px;

  &:hover {
    background-color: lightgray;
  }
}

#editor-wrapper {
  position: absolute;
  height: 320px;
  bottom: 0px;
  width: 100%;
  /* background-color: lightgray; */
  background-color: white;
}

#editor-wrapper input {
  border: 1px solid lightgray;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 4px;
  margin-right: 4px;
  flex-basis: 100px;
  flex-grow: 2;
}

#editor-top {
  flex-wrap: nowrap;
}

#editor-text-with-preview {
  flex-wrap: nowrap;
  overflow: hidden;
}

#editor-preview-with-buttons {
  width: 50%;
  padding: 0px 8px;
}

#editor-button-bar {
  flex-wrap: nowrap;
  padding: 2px 4px;
}

#cm-wrapper {
  width: 100%;
  border: 0;
  //background-color: red;
  background-color: white;
  flex-grow: 4;
  overflow: hidden;
}

.codemirror-div {
  height: 100%;
}

.cm-textarea {
  /* height: 100%; */
}

#editor-preview {
  width: 50%;
  padding: 4px 8px;
  /* background-color: #e3e3e3; */
  background-color: white;
  overflow: auto;
}

#editor-text-with-preview {
  background-color: white;
  flex-grow: 8;
}

#editor-bottom {
  // background-color: #e9e9e9;
  background-color: #f0f0f0;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
}

.editor-hide-show-preview {
  margin-right: 8px;
}

/* http://authenticstyle.co.uk/how-to-style-select-boxes-using-css-and-html/
http://codepen.io/gnclmorais/pen/cHkqt/ is simpler but uses fixed width
http://fettblog.eu/style-select-elements/

 */
.editor-select-wrapper
{
	border-bottom: 1px solid #DADADA;
	overflow: hidden;
	padding-right:12px;
  margin-right: .17em;
	cursor: pointer;
	position: relative;

  /*
	background: transparent;
	display: inline-block;
	color: #525252;
  padding-top: 2px 8px;
  */

  &::after {
     position: absolute;
     top: 50%;
     right: 0;
     display: block;
     content: '';
     height: 0;
     width: 0;
     border: .33em solid transparent;
     border-top: .33em solid rgba(0, 0, 0, .33);
     margin-top: -.17em;
  }

   &-input {
     font-size: 1.2em;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     width: 100%;
     opacity: 0;
     z-index: 3;
  }

  &.bright {
    &::after {
      border-top: .33em solid rgba(255, 255, 255, .33);
    }
  }
}

/*
.editor-select-wrapper span
{
	position: absolute;
	right: 10px;
	width: 8px;
	height: 8px;
	background: url(/s/img/arrow.png) no-repeat;
	top: 50%;
	margin-top: -4px;
}

.editor-select-wrapper select
{
	webkit-appearance: none;
	appearance:none;
	background:none;
	background:transparent;
	border:none;
	outline:none;
	cursor:pointer;
  padding: 2px 8px;
}
*/
