@import 'normalize';
@import 'logo';
@import 'font-awesome/font-awesome';
@import 'colors';

html,
body {
  height: 100%;
  width: 100%;
  // http://mir.aculo.us/2011/07/29/prevent-rubber-band-scrolling-for-single-page-apps-in-safari-5-1/
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/*
:after, :before {
  box-sizing: border-box;
}
*/

:focus { outline:none; }
::-moz-focus-inner { border:0; }

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
  font-size: $font-size-main;
}


.h4, h4 {
  font-size: 18px;
  font-weight: 500;
}

.half {
  width: 50%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

// the idea is to have it expand to take available space
.flex-spacer {
  flex-grow: 8;
}

.modal-overlay {
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.btn2 {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
  margin-right: 8px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 2px 8px;

  &:disabled {
    cursor: pointer;
    opacity: 0.5;
  }
}

.btn {
  display: inline-block;
  position: relative;
  padding: 4px 8px;
  color: rgba(0,0,0,0.7);
  background: rgba(0,0,0,0);
  text-align: center;
  text-decoration: none;
  // cursor: pointer;
  border: 1px solid rgba(0,0,0,0.4);
  vertical-align: bottom;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  border-radius: 999em;
  letter-spacing: 0;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-right: 4px;

  &:disabled {
    opacity: 0.5;
  }

  &:hover:enabled {
    color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.8);
  }

  &:hover:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn-cancel {
  margin-left: -4px;
  border: 0;

  &:hover {
    color: rgba(255,0,0,0.8);
    border: 0;
    /* background-color: lightgray; */
  }

  &:hover:ENABLED {
    color: rgba(255,0,0,0.8);
    border: 0;
    /* background-color: lightgray; */
  }

}

$col-btn-bg: #2780e3;
$col-btn-border: #2780e3;
$col-btn-text: #fff;
$col-btn-hover-bg: #1967be;
$col-btn-hover-border: #1862b5;

.btn2-primary {
  background-color: $col-btn-bg;
  border-color: $col-btn-border;
  color: $col-btn-text;

  &:hover {
    background-color: $col-btn-hover-bg;
    border-color: $col-btn-hover-border;
  }
}

.error {
  color: red;
  font-weight: bold;
}

.btn-disabled {
  background-color: $col-btn-bg;
  border-color: $col-btn-border;
  color: $col-btn-text;

  &:hover {
    background-color: $col-btn-hover-bg;
    border-color: $col-btn-hover-border;
  }
}

.expand {
  color: $col-blue;

  &:visited {
    color: $col-blue;
  }

  &:after {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid $col-blue;
    content: '';
    display: inline-block;
    height: 0;
    left: 3px;
    position: relative;
    top: -2px;
    width: 0;
  }
}

.collapse {
  color: $col-blue;

  &:visited {
    color: $col-blue;
  }

  &:after {
    border-bottom: 4px solid $col-blue;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 0;
    content: '';
    display: inline-block;
    height: 0;
    left: 3px;
    position: relative;
    top: -2px;
    width: 0;
  }
}

#root,
#header,
#left-sidebar,
#notes-list,
#page-content,
#full-note {
  position: absolute;
}

#root {
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
}

.fixed {
  position: fixed;
  top: 0; left: 0; right: 0;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

.btn-new-note {
  margin-left: 8px;
}

/**/
#header {
  top: 0; left: 0; right: 0;
  height: 45px;
  z-index: 4;
  align-items: center;

  #logo {
    flex-basis: $sidebar-width;
    flex-shrink: 0;
    flex-grow: 0;
    height: 45px;
    line-height: 45px;
    display: block;
    text-indent: -999999px;
  }

  #logo:hover {
    background-color: rgba(0,0,0,.03);
  }

  .logo {
    background-size: 115px 20px;
  }
}

.flex-push-right {
  margin-left: auto;
}

.header-link {
  display: block;
  height: 45px;
  line-height: 45px;
  padding: 0 0 0 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;

  &:visited {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover {
    color: #2196F3 !important;
  }
}

.login-chevron {
  padding-left: 4px;
  padding-right: 12px;
  font-size: 10px;
  position: relative;
  top: -1px;
}

#login-link {
  cursor: pointer;
  white-space: nowrap;

  &:hover .dropdown-content {
    display: block;
  }

  &:hover .log-in-dropdown-content {
    display: block;
  }
}

.dropdown-content {
  white-space: nowrap; // size it to content
  display: none;
  position: absolute;
  top: 36px; right: 8px;
  padding: 8px 16px;
  line-height: 20px;
  border-radius: 2px;
  z-index: 20;

  a {
    display: block;
    clear: both;
    padding: 6px 0;
  }

  .divider {
    height: 1px;
    display: block;
    border-top: 1px solid transparent;
    margin: 4px 0;
  }
}

.log-in-dropdown-content {
  display: none;
  position: absolute;
  top: 40px; right: 8px;
  padding: 8px 16px;
  line-height: 20px;
  border-radius: 2px;
  z-index: 20;
  background: white;
  box-sizing: content-box;
  border: 1px solid lightgray;
}

/**/
#settings {
  position: relative;
  background-color: lightblue;
  width: 640px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border: 2px solid blue;
  z-index: 99;
}

.settings-div {
  margin-bottom: 4px;
}

.settings-buttons {
  margin-top: 8px;
}

#recent-notes-wrapper {
  margin-left: $sidebar-width;
}

/**/
#page-content {
  left: 0; top: 0; right: 0; bottom: 0;
  text-align: center;
  background: rgba(0,0,0,.03);

  .box {
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
  }
}

.box {
  width: 300px;
  margin-top: -56px;
  margin-left: -180px;
  padding: 30px 30px 20px 30px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translateY(-50%);

  .logo {
    background-size: 184px 32px;
  }

  form {
    padding: 40px 0 20px 0;

    .row {
      width: 100%;
      height: 38px;
      margin: 4px 0;
      overflow: hidden;
      line-height: 38px;
    }

    label {
      width: 32%;
      float: left;
      text-align: right;
    }

    input {
      border: 1px solid rgba(0,0,0,.3);
      height: 34px;
      line-height: 34px;
      font-size: 14px;
    }

    input[type="text"],
    input[type="password"] {
      width: 60%;
      float: right;
    }

    .row + .row {
      margin-top: 10px;
    }

    h2, h3, p {
      cursor: default;
    }

    h2 {
      font-size: 28px;
      color: rgba(0,0,0,.6);
      font-weight: bold;
      margin-bottom: 14px;
      padding: 10px 0;
    }

    h3 {
      font-size: 16px;
      line-height: 24px;
      display: block;
      color: rgba(0,0,0,.4);
    }

    h3 + p {
      margin: 6px 0 6px 0;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: rgba(0,0,0,.4);

      a {
        color: rgba(0,0,0,.8);
        font-weight: bold;
      }

      i {
        font-size: 10px;
        position: relative;
        top: -1px;
      }
    }
  }
}

ul.log-in {
  margin-top: 10px;
  list-style: none;
  white-space: nowrap;
  padding: 0px 8px;

  li {
    margin: 10px 0;
    text-align: center;
  }

  a {
    height: 44px;
    line-height: 44px;
    display: block;
    color: #FFF;
    border-radius: 3px;
    font-weight: bold;

    padding: 2px 16px;

    // used http://www.colorlookup.com/de6756 to get the lighter variants
    // of colors (2nd tint)
    &.twitter {
      background: #55ACEE;
      &:hover {
        background: #77BCF0;
      }
    }

    &.github {
      background: #829AA8;
      &:hover {
        background: #9AAEB8;
      }
    }

    &.google {
      background: #D6432E;
      &:hover {
        background: #DE6756;
      }
    }
  }
}

/**/
#left-sidebar {
  width: $sidebar-width;
  font-size: $font-size-sidebar;
  left: 0; top: 46px; bottom: 0;
  overflow-y: auto;
  user-select: none;

  .tags-list + .tags-list {
    padding-top: 2px;
  }

  .tag {
    line-height: 14px;
    padding: 2px 0;
    cursor: pointer;
    user-select: none;

    &:first-of-type {
      margin-top: 16px;
    }
  }

  .tag-name {
    padding-left: 16px;
  }

  .tag-count {
    text-align: right;
    float: right;
    margin-right: 16px;
    font-size: 11px;
  }

  .tag.selected {
    cursor: default;
  }
}

/**/
pre.note-body {
  white-space: pre-wrap;
  word-wrap: break-word;
  // default for pre is: 1em 0px 1em;
  margin: 0;
}

.note-private {
  /* border-top: 1px solid lightblue; */
  /* border-top: 1px solid lightskyblue; */
}

#notes-list {
  left: $sidebar-width+1;
  top: 46px;
  bottom: 0; right: 0;
  overflow-y: auto;

  .note {
    position: relative;

    .note-header {
      height: $note-header-dy;
      position: relative;
      line-height: $note-header-dy;
      margin-bottom: 4px;
    }

    .note-title {
      font-size: 14px;
      font-weight: 600;
    }

    .note-actions {
      position: absolute;
      top: 0; right: 0;
      .note-action {
        width: 20px;
        height: $note-header-dy;
        line-height: $note-header-dy;
        text-align: center;
        overflow: hidden;
        margin-left: 6px;
      }
    }

    .note-content {
      padding-top: 4px;
      position: relative;
      font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
      font-size: $font-size-note;
      line-height: $line-height-note;
      color: $col-note;
    }

    .note-footer {
      height: 18px;
      border-top: 1px solid rgba(0,0,0,.05);
      margin-top: 16px;
      padding-top: 10px;
      line-height: 18px;
    }

    .note-tags {
      margin-left: 8px;
    }

    .note-tag {
      font-size: $font-size-note-tag;
      margin-right: 8px;
      cursor: pointer;
    }

    .note-size {
      float: right;
      font-size: 11px;
    }
  }
}

.full-note-top {
    .note-tags {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.5);
      margin-left: 8px;
    }

    .note-tag {
      font-size: $font-size-note-tag;
      margin-right: 8px;
      // cursor: pointer;
    }
}

.note-footer {
  color: lightgray;
  font-size: 12px;
  padding-bottom: 1em;
  a {
    color: lightgray;
    &:hover {
      background-color: lightgray;
      color: white;
    }
  }
}

hr.light {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr.light2 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#notes-list {
  .note-action {
    display: inline-block;
    color: rgba(0,0,0,.4);
    &:hover {
      color: rgba(0,0,0,.8);
    }
  }

  .note-action + .note-title {
    margin-left: 6px;
  }
}

/**/

#content-wrapper-index {
  top: 26px;
  width: 100%;
  background-color: white;
  position: absolute;
}

#content-wrapper {
  top: 56px;
  width: 100%;
  background-color: white;
  position: absolute;
}

#tagline {
  text-align: center;
  margin-top: 56px;
}

/**/
#note-content {
  top: 56px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: lightgray;
  position: absolute;
}

/**/
#full-note {
  top: 46px; left: 0; right: 0; bottom: 0;
  overflow: auto;

  .note-content-wrapper {
    margin: 8px 16px;
    margin-top: 16px;

    pre {
      /* reset.css sets that to auto which makes the content scroll
      inside the note, which is not what I want.
      */
      overflow: visible;
      white-space: pre-wrap;
    }

    h1 {
      font-size: 1.4em;
      margin: 0;
    }

    .note-body {
      font-size: $font-size-note;
      color: $col-note;
      line-height: $line-height-note;
    }
  }
}

.full-note-top {
  display: flex;
  align-items: center;
}

@import 'search';

/**/
.dropdown-content {
  text-align: left;
}

/* Media Queries
----------------------------------------------- */
@media (max-width: 320px) {
  #search-input {
    display: none
  }
  #left-sidebar, #header #logo {
    display: none;
  }
  #notes-list {
    left: 0; bottom: 0;
  }
  #notes-list .note .note-actions {
    background: #FFF;
  }
  #notes-list .note-title {
    width: 70%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ell
  }
  #notes-list .note-action.note-star {
    position: relative;
    top: -8px;
  }
}

/* modal */
.modal {
  display: block;
  padding-left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  background: rgba(0, 0, 0, 0.55);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: 600px;
  margin: 30px auto;
  transform: translate(0,0);
}

.modal-content {
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;

  &:hover {
    opacity: 1;
  }

}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
  clear: both;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: table;
  content: " ";
}

#import-simplenote {
  margin-bottom: 32px;

  tr td {
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
  }
}

// based on https://github.com/javierbyte/react-textselect
.text-select {
  overflow: hidden;
  display: inline-block;
  padding-right: 1em;
  margin-left: 0.5em;
  margin-right: .17em;
  cursor: pointer;
  position: relative;
  // border-bottom: 1px solid rgba(0, 0, 0, .33);

  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    content: '';
    height: 0;
    width: 0;
    border: .33em solid transparent;
    border-top: .33em solid rgba(0, 0, 0, .33);
    margin-top: -.17em;
  }

  &-select {
    font-size: 1.2em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
  }

  &.bright {
    &:after {
      border-top: .33em solid rgba(255, 255, 255, .33);
    }
  }
}

.drag-bar-horiz {
  position: absolute;
  left: 0;
  right: 0;
  //width: 100%;
  cursor: row-resize;
  z-index: 20; // higher than overlay
  overflow: hidden;
  background-color: #f0f0f0;

  &:hover {
    background-color: #d0d0d0;
  }
}

.menu-trigger {
  padding: 2px 16px;
  color: rgba(0,0,0,0.5);
  margin-right: 8px;
  border: 0;
  font-size: 1.4em; // matches its sibling h1
  position: relative;
  background-color: transparent;
  &:hover {
    border: 0;
    background-color: #eee;
  }

  &:hover .menu-content {
    display: block;
  }
}

.menu-content {
  white-space: nowrap; // size it to content
  display: none;
  position: absolute;
  top: 24px;
  right: 0px;
  font-size: 14px;
  padding: 8px 16px;
  line-height: 20px;
  border-radius: 2px;
  z-index: 20;
  background-color: white;

  a {
    display: block;
    clear: both;
    padding: 6px 0;
  }

  .divider {
    height: 1px;
    display: block;
    border-top: 1px solid transparent;
    margin: 4px 0;
  }
}

.note-deleted {
  margin-top: 28px;
  margin-bottom: 16px;
  font-size: 18px;
  color: red;
}

@import 'editor';
@import 'theme-light';
@import 'theme-dark';
@import 'spacing';

@import '../node_modules/codemirror/lib/codemirror';
@import '../node_modules/codemirror/theme/solarized';
@import '../node_modules/highlight.js/styles/solarized-light';

.CodeMirror {
  min-height: 100%;
}

@import 'hint';
