@import 'normalize';

$sidebar-width: 180px;
$font-size-main: 14px;
$font-size-note: 13px;
$line-height-note: 18px;
$font-size-note-tag: 13px;
$font-size-sidebar: 12px;
$note-header-dy: 26px;
$col-blue: #09f;
$col-note: rgba(0,0,0,.8);

html,
body {
  height: 100%;
  width: 100%;
}

:focus { outline:none; }
::-moz-focus-inner { border:0; }

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
  font-size: $font-size-main;
}

#reply-control {
  transition: height 0.4s ease;
  width: 100%;
  z-index: 999;
  height: 0;
  background-color: #e9e9e9;
  bottom: 0;
  font-size: 1em;
  position: fixed;
}

#reply-control.open .grippie {
  display: block;
}

#reply-control .grippie {
  display: none;
}

#reply-control .contents {
  padding-left: 10px;
  padding-top: 5px;
  min-width: 1280px;
}

.composer-popup-container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

#reply-control .toggler {
  width: 15px;
  right: 1px;
  position: absolute;
  font-size: 1.071em;
  color: #222;
  padding: 0 10px 5px 10px;
}

#reply-control .reply-area {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

#reply-control .control-row {
  margin: 0 0 0 5px;
}

.control-row.reply-area {
  padding-left: 20px;
  padding-right: 20px;
}

.reply-to {
  margin-bottom: 10px;
}

.reply-to i {
  color: #919191;
}

#reply-control .wmd-controls {
  left: 30px;
  right: 30px;
  position: absolute;
  bottom: 45px;
  top: 41px
}

body .grippie {
  width: 100%;
  cursor: row-resize;
  height: 11px;
  overflow: hidden;
  display: block;
  border-top: 1px solid #e9e9e9;
  background: url(/s/img/grippie-d28a6f65e22c0033dcf0d63883bcc590.png) #e9e9e9 no-repeat center 3px;
}

#reply-control .contents .submit-panel {
  width: 28%;
  position: absolute;
  display: block;
  bottom: 8px;
}

#reply-control .wmd-controls .d-editor-preview-header {
    font-size: 0.929em;
    line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: scroll;
}

#reply-control .wmd-controls .d-editor-preview-header {
    position: absolute;
    left: 0;
    top: 0;
    border: 0px;
    border-top: 30px solid transparent;
    border-radius: 0;
}

#reply-control .wmd-controls .d-editor-textarea-wrapper {
    width: 50%;
    padding-right: 5px;
    float: left;
}

#reply-control .wmd-controls .d-editor, #reply-control .wmd-controls .d-editor-container, #reply-control .wmd-controls .d-editor-textarea-wrapper, #reply-control .wmd-controls .d-editor-preview-wrapper {
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#reply-control .wmd-controls .d-editor-input, #reply-control .wmd-controls .d-editor-preview-header {
    position: absolute;
    left: 0;
    top: 0;
    border: 0px;
    border-top: 30px solid transparent;
    border-radius: 0;
}

#reply-control .wmd-controls .d-editor-input, #reply-control .wmd-controls .d-editor-preview {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: auto;
    padding: 7px;
    margin: 0;
    background-color: #fff;
    word-wrap: break-word;
}

#reply-control .contents .d-editor-input {
    bottom: 35px;
}

#reply-control .contents .d-editor-input, #reply-control .contents .d-editor-preview {
    color: #222;
}

#reply-control textarea {
    box-shadow: none;
}

body .d-editor-input {
    resize: none;
}

#reply-control .wmd-controls .d-editor, #reply-control .wmd-controls .d-editor-container, #reply-control .wmd-controls .d-editor-textarea-wrapper, #reply-control .wmd-controls .d-editor-preview-wrapper {
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#reply-control .wmd-controls .d-editor-preview-wrapper {
    width: 50%;
    padding-left: 5px;
    float: right;
}

@import '../node_modules/codemirror/lib/codemirror';
@import '../node_modules/codemirror/theme/solarized';
@import 'font-awesome/font-awesome';

.CodeMirror {
  height: 100%;
}