/* Spacing : Default
----------------------------------------------- */
[data-spacing="default"] #notes-list .note {
  // margin: 14px 16px;
  //margin: 8px 8px;
  margin: 8px 16px 8px 8px;
  padding: 8px 16px;
}

[data-spacing="default"] #notes-list .note:first-of-type {
  //margin-top: 16px;
}

[data-spacing="default"] #notes-list .note:last-of-type {
  //margin-bottom: 16px;
}

/*
The idea is to have the title shrink if it's too big to show on a line, but
that would probably require flexbox container since it's only one of many
elements inside note-header div.

[data-spacing="default"] #notes-list .note-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/

/* Spacing : Grid
----------------------------------------------- */
[data-spacing="grid"] #notes-list .wrapper {
  padding: 16px;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}

[data-spacing="grid"] #notes-list .note {
  display: inline-block;
  width: 90%;
  margin: 0 0 16px;
  padding: 16px 18px;
}

[data-spacing="grid"] #notes-list .note-title {
  width: 70%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-spacing="grid"] #notes-list .note-action.note-star {
  position: relative;
  top: -8px;
}

[data-spacing="grid"] #notes-list .note .note-actions {
  background: #FFF;
}

/* Spacing : Minimal
----------------------------------------------- */
[data-spacing="minimal"] #notes-list .note {
  padding: 16px 18px;
  margin-bottom: 1px;
}

/* Spacing : Barebones
----------------------------------------------- */
[data-spacing="barebones"] #notes-list .note {
  padding: 16px 18px 10px 18px;
  margin-bottom: 1px;
}

[data-spacing="barebones"] #notes-list .note-content,
[data-spacing="barebones"] #notes-list .note-footer {
  display: none;
}
