<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>QuickNotes all public notes</title>

  <link rel="stylesheet" href="/s/dist/main.css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400" rel="stylesheet" type="text/css">
</head>

<body class="theme-light">

  <div id="index-root">
    <p>
      <a href="/">QuickNotes</a> : {{ .NumNotes }} public notes, page {{ .PageNo }} out of {{ .NumPages }}
    </p>

    {{ range .Notes }}
      <div>
        <a href="{{ .URL }}">{{ .Title }}</a> by {{ .Creator }} on {{ .CreatedAtString }}
      </div>
    {{ end }}

    {{ if .NextPageNo }}
      <p>
        <a href="/idx/allnotes?page={{ .NextPageNo }}">Next page</a>
      </p>
    {{ end }}
    <p></p>
    <hr>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-63795039-1', 'auto');
    ga('send', 'pageview');
  </script>

</body>

</html>
