<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>QuickNotes all public notes</title>

  <link rel="stylesheet" href="/s/dist/main.css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:600,400" rel="stylesheet" type="text/css">
</head>

<body class="theme-light">

  <div id="index-root">
    <p>
      <a href="/">QuickNotes</a> : {{ .NumNotes }} public notes, page {{ .PageNo }} out of {{ .NumPages }}
    </p>

    {{ range .Notes }}
    <div>
      <a href="{{ .URL }}">{{ .Title }}</a> by {{ .Creator }} on {{ .CreatedAtString }}
    </div>
    {{ end }} {{ if .NextPageNo }}
    <p>
      <a href="/idx/allnotes?page={{ .NextPageNo }}" rel="next">Next page</a>
    </p>
    {{ end }}
    <p></p>
    <hr>
  </div>

  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-63795039-1', 'auto');
  ga('send', 'pageview');
  </script>
  <script async src="//www.google-analytics.com/analytics.js"></script>

</body>

</html>
