.tcol0 { color: #e85d72; }
.tcol1 { color: #df3dc0; }
.tcol2 { color: #dd8527; }
.tcol3 { color: #dc7dbb; }
.tcol4 { color: #bc3663; }
.tcol5 { color: #a72f79; }
.tcol6 { color: #a63024; }
.tcol7 { color: #9f69e7; }
.tcol8 { color: #9e3997; }
.tcol9 { color: #9d8eee; }
.tcol10 { color: #9b3b45; }
.tcol11 { color: #84b22f; }
.tcol12 { color: #73769d; }
.tcol13 { color: #684b6c; }
.tcol14 { color: #674b1b; }
.tcol15 { color: #619a4f; }
.tcol16 { color: #5b89d5; }
.tcol17 { color: #5a4592; }
.tcol18 { color: #4ec0d6; }
.tcol19 { color: #4d5e26; }
.tcol20 { color: #4bbe2e; }
.tcol21 { color: #3c989f; }
