/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
  font-size: 14px;
}

#root, #header, #left-sidebar, #notes-list, #composer, #full-composer {
  position: absolute;
}

#root {
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/**/
#header {
  top: 0; left: 0; right: 0;
  height: 56px;
  background: #F8F8FA;
  background: linear-gradient(to bottom, #FFFEFD 0%,rgba(252,252,252,1) 100%);
}

#header:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0; left: 0; right: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

#header #logo {
  width: 220px;
  height: 56px;
  line-height: 56px;
  display: block;
  float: left;
}

#header #search-wrapper {
  float: left;
  position: relative;
  top: 12px; left: 16px;
}

#header #search-wrapper input {
  width: 400px;
  height: 22px;
  font-size: 14px;
  padding: 2px 16px;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.08) inset;
  border-radius: 20px;
  outline: none;
}

#header #user {
  float: right;
}

#header #user .user,
#header .dropdown {
  float: left;
}


#header #user .user {
  height: 56px;
  line-height: 56px;
  display: block;
  padding: 0 0 0 10px;
  color: rgba(0,0,0,.8);
  font-weight: bold;
}

#header .dropdown {
  height: 56px;
  line-height: 54px;
  position: relative;
  margin-right: 10px;
}

#header .dropdown i {
  padding: 0 10px;
  font-size: 11px;
  color: rgba(0,0,0,.6);
}

#header .dropdown-content {
  width: 100px;
  display: none;
  position: absolute;
  top: 40px; right: 0;
  background: #FCFCFC;
  padding: 16px;
  line-height: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.2), 0 0 2px rgba(0,0,0,.1);
  z-index: 20;
}

#header .dropdown-content a {
  display: block;
  clear: both;
  padding: 6px 0;
  color: rgba(0,0,0,.8);
}

#header .dropdown-content a:hover {
  color: rgba(0,0,0,1);
}

#header .dropdown:hover .dropdown-content {
  display: block;
}


/**/
#left-sidebar {
  width: 220px;
  background: #444550;
  left: 0; top: 56px; bottom: 0;
  overflow-y: auto;
  user-select: none;
}

#left-sidebar .tags-list {

}

#left-sidebar .tags-list + .tags-list {
  padding-top: 2px;
}

#left-sidebar .tag {
  line-height: 24px;
  padding: 2px 0;
  cursor: pointer;
  color: rgba(255,255,255,.5);
  user-select: none;
}

#left-sidebar .tag:hover {
  background: rgba(0,0,0,.08);
}

#left-sidebar .tag:first-of-type {
  margin-top: 16px;
}

#left-sidebar .tag:last-of-type {
  margin-bottom: 16px;
}

#left-sidebar .tag-name {
  padding-left: 16px;
}

#left-sidebar .tag-count {
  text-align: right;
  float: right;
  margin-right: 16px;
  font-size: 11px;
  color: rgba(255,255,255,.3);
}

#left-sidebar .tag.selected {
  cursor: default;
  color: rgba(255,255,255,1);
}

#left-sidebar .tag.selected .tag-count {
  color: rgba(255,255,255,.6);
}



/**/
#notes-list {
  background: #E3E3E3;
  left: 220px; top: 56px; bottom: 64px; right: 0;
  overflow-y: auto;
}

#notes-list .note {
  position: relative;
  margin: 8px 16px;
  background: #FFF;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

#notes-list .note:first-of-type {
  margin-top: 16px;
}

#notes-list .note:last-of-type {
  margin-bottom: 16px;
}

#notes-list .note pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

#notes-list .note .note-header {
  height: 26px;
  position: relative;
  line-height: 26px;
  margin-bottom: 4px;
}

#notes-list .note .note-title {
  font-size: 14px;
  font-weight: 600;
}

#notes-list .note .note-actions {
  position: absolute;
  top: 0; right: 0;
}

#notes-list .note .note-actions a {
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  margin-left: 6px;
  color: rgba(0,0,0,.4);
}
#notes-list .note .note-actions a:hover {
  color: rgba(0,0,0,.8);
}

#notes-list .note .note-actions .note-starred {
  color: #FFEB3B;
}

#notes-list .note .note-content {
  position: relative;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0,0,0,.8);
}

#notes-list .note .note-content:after {
  content: "";
  height: 16px;
  position: absolute;
  display: block;
  bottom: -2px; left: 0; right: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

#notes-list .note .note-footer {
  height: 18px;
  border-top: 1px solid rgba(0,0,0,.05);
  margin-top: 10px;
  padding-top: 10px;
  line-height: 18px;
}

#notes-list .note .note-tags {
  float: left;
}

#notes-list .note .note-tag {
  font-weight: bold;
  font-size: 13px;
  margin-right: 8px;
  cursor: pointer;
  color: rgba(0,0,0,.5);
}

#notes-list .note .note-tag:hover {
  color: rgba(0,0,0,.8);
}

#notes-list .note .note-size {
  float: right;
  font-size: 11px;
  color: rgba(0,0,0,.4);
}


/**/
#composer {
  height: 64px;
  background: #FFF;
  bottom: 0; left: 220px; right: 0;
  border-top: 1px solid rgba(0,0,0,.2);
  box-shadow: ;
}

#composer .inner {
  position: absolute;
  top: 12px; right: 16px; bottom: 12px; left: 16px;
}

#composer textarea {
  width: 100%;
  height: 38px;
  padding: 0;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,.2);
  resize: none;
}

/**/
#full-composer-wrapper {
  position: absolute;
  top: 56px; left: 220px; right: 0; bottom: 0;
  background: #FFF;
  z-index: 99;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

#full-composer-top {
  width: 100%;
  display: flex;
  flex-grow:8;
  flex-direction: row;
}

#full-composer-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#full-composer-title {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#full-composer-tags {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.full-composer-editor {
  width: 50%;
  border: 0;
  background-color: lightyellow;
}

#full-composer-preview {
  width: 50%;
  background-color: lightblue;
  border: 0;
}
