/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
  font-size: 14px;
}

#root, #header, #left-sidebar, #notes-list, #composer, #full-composer {
  position: absolute;
}

#root {
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
}

/**/
#header {
  top: 0; left: 0; right: 0;
  height: 56px;
  background: #F8F8FA;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(252,252,252,1) 100%);
}

#header:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0; left: 0; right: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

#header #logo {
  width: 220px;
  height: 56px;
  line-height: 56px;
  display: block;
  float: left;
  background: rgba(0,0,0,.02);
}

#header #search-wrapper {
  float: left;
  position: relative;
  top: 12px; left: 16px;
}

#header #search-wrapper input {
  width: 400px;
  height: 22px;
  font-size: 14px;
  padding: 2px 16px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 20px;
  outline: none;
}

#header #user {
  float: right;
}


/**/
#left-sidebar {
  width: 220px;
  background: #444550;
  left: 0; top: 56px; bottom: 0;
  overflow-y: auto;
}

.tag {
  line-height: 24px;
  padding: 2px 0;
  cursor: pointer;
  color: rgba(255,255,255,.5);
}

.tag:first-of-type {
  margin-top: 16px;
}

.tag:last-of-type {
  margin-bottom: 16px;
}

.tag-name {
  padding-left: 16px;
}

.tag-count {
  text-align: right;
  float: right;
  margin-right: 16px;
  font-size: 11px;
  color: rgba(255,255,255,.3);
}

.tag.selected {
  cursor: default;
  color: rgba(255,255,255,1);
}

.tag.selected .tag-count {
  color: rgba(255,255,255,.6);
}



/**/
#notes-list {
  background: #E3E3E3;
  left: 220px; top: 56px; bottom: 64px; right: 0;
  overflow-y: auto;
}

#notes-list .note {
  position: relative;
  margin: 8px 16px;
  background: #FFF;
  padding: 10px;
  border-radius: 2px;
}

#notes-list .note:first-of-type {
  margin-top: 16px;
}

#notes-list .note:last-of-type {
  margin-bottom: 16px;
}

#notes-list .note pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

#notes-list .note .note-header {
  height: 26px;
  position: relative;
  line-height: 26px;
  margin-bottom: 4px;
}

#notes-list .note .note-title {
  font-size: 14px;
  font-weight: 600;
}

#notes-list .note .note-actions {
  position: absolute;
  top: 0; right: 0;
}

#notes-list .note .note-actions a {
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  background: red;
  margin-left: 6px;
}

#notes-list .note .note-content {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0,0,0,.8);
}

#notes-list .note .note-footer {
  height: 18px;
  border-top: 1px solid rgba(0,0,0,.05);
  margin-top: 10px;
  padding-top: 10px;
  line-height: 18px;
}

#notes-list .note .note-tags {
  float: left;
}

#notes-list .note .note-tag {
  font-weight: bold;
  font-size: 13px;
  margin-right: 6px;
  cursor: pointer;
  color: rgba(0,0,0,.5);
}

#notes-list .note .note-tag:hover {
  color: rgba(0,0,0,.8);
}

#notes-list .note .note-size {
  float: right;
  font-size: 11px;
  color: rgba(0,0,0,.4);
}


/**/
#composer {
  height: 64px;
  background: #FFF;
  bottom: 0; left: 220px; right: 0;
  border-top: 1px solid rgba(0,0,0,.2);
}

#composer .inner {
  position: absolute;
  top: 12px; right: 16px; bottom: 12px; left: 16px;
}

#composer textarea {
  width: 100%;
  height: 38px;
  padding: 0;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,.2);
  resize: none;
}

.collapsed {
  visibility: collapsed;
}

/**/
#full-composer {
  top: 56px; left: 220px; right: 0; bottom: 0;
  background: #FFF;
}

#full-composer.collapsed {
  display: none;
}

#full-composer textarea {
  width: 100%;
  border: 0;
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0 ; left: 0;
  resize: none;
}